@tailwind base;
@tailwind components;
@tailwind utilities;


*,
body {
    font-family: 'Segoe UI Variable Small' !important;
    cursor: default;
}

*::selection {
    background-color: transparent;
}

body {
    @apply text-secondary transition-all;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.fond {
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/fond.png');
    background-position: center;
    background-size: cover;
}

.fond-lock {
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/Lock-Screen.png');
    background-position: center;
    background-size: cover;
}

.bg-fond {
    background-image: url('./assets/images/Shell Base.png');
    background-position: center;
    background-size: cover;
}

.backdrop-blurss {
    background-color: #ffffff02;
}

/* Loader */

.loading .load {
    position: absolute;
    width: 30px;
    margin-left: -15px;
    height: 30px;
    animation: animate 2.2s infinite;

}

.load:nth-child(2) {
    animation-delay: 0.0s;
}

.load:nth-child(3) {
    animation-delay: 0.1s;
}

.load:nth-child(4) {
    animation-delay: 0.3s;
}

.load:nth-child(5) {
    animation-delay: 0.5s;
}

.load:nth-child(6) {
    animation-delay: 0.9s;
}

.load:nth-child(7) {
    animation-delay: 0.6s;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
        opacity: 1;

    }

    to {
        transform: rotate(360deg);

    }
}

.loading .load .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}